<section class="container bl block__text rich-text b-111490844-top b-111490844-bottom b-111490844-background_color">
    <div class="block__text-wrapper b-111490844-content_width b-111490844-heading_text_color b-111490844-text_color" data-target="block.data.body">
        <h4 class="ql-align-center"><strong>Eğitim ve kariyer fırsatları</strong></h4><p class="ql-align-center"><br class="softbreak"></p><p class="ql-align-center">Yaptığımız çalışmalarla sektörde güvenilirliği ve prestiji en yüksek organizasyonlardan biri olduk.</p><p class="ql-align-center">Aşağıdaki formu dikkatlice ve samimiyetle doldurarak fırsatlardan yararlanabilirsiniz. </p><p class="ql-align-center"><strong>Bu bilgileri istediğiniz zaman güncelleyebilirsiniz.</strong></p><p><br class="softbreak"><br class="softbreak"></p>
    </div>
</section>