@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:32,height:32/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="icon" type="image/png">
<link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:72,height:72/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
<link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:144,height:144/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
<link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:320,height:345/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
<link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:640,height:690/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta charset="UTF-8">
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="whSOocgh3s5U6ApWgdRjbNEW+NJ9p53S23KW5ZP1XG+0/LYE+msL/SNhr5OEqzNtV8NLKBjo4LKTu4Plv/hWPw==" />
<style type="text/css">:root{--brand_primary: #134361;--brand_secondary: #134361;--brand_heading: #342E2E;--brand_text: #3F3A3A;--brand_navbar_text: #FFFFFF;--brand_navbar_fixed_text: #FFFFFF;--brand_homepage_heading: #ff3f20;--brand_course_heading: #134361;--brand_video_player_color: #ff3f20;--font_family:Raleway;} font-face {
  font-family: 'Raleway';
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway.eot");
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/raleway/Raleway.woff") format("woff"), url("//assets.teachablecdn.com/fonts/raleway/Raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

font-face {
  font-family: 'Raleway';
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-SemiBold.eot");
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-SemiBold.woff") format("woff"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

font-face {
  font-family: 'Raleway';
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-Heavy.eot");
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-Heavy.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-Heavy.woff") format("woff"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

font-face {
  font-family: 'Raleway';
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-ExtraBold.eot");
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-ExtraBold.woff") format("woff"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

font-face {
  font-family: 'Raleway';
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-Medium.eot");
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-Medium.woff") format("woff"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

font-face {
  font-family: 'Raleway';
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-Light.eot");
  src: url("//assets.teachablecdn.com/fonts/raleway/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-Light.woff") format("woff"), url("//assets.teachablecdn.com/fonts/raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
</style>
<link rel="stylesheet" media="screen" href="https://fedora.teachablecdn.com/assets/pages-07d1f1c913aa717caba0acc1e50181f2f09a0df3a6c208d33e69b3205dfffeaa.css" />
<style></style>
<title>Privacy Policy | Kodlama.io</title>
<link rel="canonical" href="https://www.kodlama.io/p/privacy">
<meta property="og:image" content="https://www.filepicker.io/api/file/4mZobU9NSRKr8UJADi4M">
<meta property="og:title" content="Privacy Policy">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.kodlama.io/p/privacy">
<meta name="brand_video_player_color" content="#ff3f20">
<meta name="site_title" content="Kodlama.io">
<script src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
<meta name="asset_host" content="https://fedora.teachablecdn.com">
<script src="https://fedora.teachablecdn.com/packs/pages--2c7a6ec736fa839c004a.js"></script>
<meta id="iris-url" data-iris-url="https://eventable.internal.teachable.com" />
<script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])},heap.load("318805607");
  window.heapShouldTrackUser = true;
</script>
<script type="text/javascript">
  var _user_id = '91464200'; // Set to the user's ID, username, or email address, or '' if not yet known.
  var _session_id = '4f2ee02a29da79666c550456c51bd73f'; // Set to a unique session ID for the visitor's current browsing session.

  var _sift = window._sift = window._sift || [];
  _sift.push(['_setAccount', '2e541754ec']);
  _sift.push(['_setUserId', _user_id]);
  _sift.push(['_setSessionId', _session_id]);
  _sift.push(['_trackPageview']);

  (function() {
    function ls() {
      var e = document.createElement('script');
      e.src = 'https://cdn.sift.com/s.js';
      document.body.appendChild(e);
    }
    if (window.attachEvent) {
      window.attachEvent('onload', ls);
    } else {
      window.addEventListener('load', ls, false);
    }
  })();
</script>
<script>
  if(typeof ga != 'function') {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  }
  ga('create', 'UA-44397410-1', 'auto', {'name': 'fedoraTracker', 'allowLinker': true});
  ga('fedoraTracker.set', 'anonymizeIp', false);
  ga('fedoraTracker.require', 'linker');
  ga('fedoraTracker.linker:autoLink', ['www.kodlama.io',  'sso.teachable.com'], false, true );
  ga('fedoraTracker.require', 'ecommerce');
  ga('fedoraTracker.require', 'ec');
  ga('fedoraTracker.send', 'pageview');
  ga('create', 'UA-44397410-4', 'auto', {'name': 'teachableTracker', 'allowLinker': true});
  ga('teachableTracker.set', 'anonymizeIp', false);
  ga('teachableTracker.require', 'linker');
  ga('teachableTracker.linker:autoLink', ['www.kodlama.io', 'sso.teachable.com'], false, true );
  ga('teachableTracker.require', 'ecommerce');
  ga('teachableTracker.require', 'ec');
  ga('teachableTracker.send', 'pageview');
</script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body class="revamped_lecture_player">
<meta http-content="IE=Edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1.0" name="viewport">

<div class="root" onclick="offMenu(event)">


<a id="top"></a>
<style id="ncs">
  :root {
    
    --header_width: 960px;
  }
</style>
<header id="header" class="header header-sticky">

<nav class="navbar is-signed-in  at-top" id="navbar" role="navigation">
<div class="navbar__header">

<a class="navbar__header__logolink" href="https://www.kodlama.io?sa=off">
<img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://www.filepicker.io/api/file/4mZobU9NSRKr8UJADi4M" alt="Kodlama.io" srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://www.filepicker.io/api/file/4mZobU9NSRKr8UJADi4M 2x" />
</a>

<div class="navbar__menu">
<button for="f-toggle" tabindex="0" role="button" id="hamburger" class="hamburger" aria-label="Toggle navigation" onclick="toggleMenu('hamburger-menu')">
<span></span>
</button>
<ul class="navbar__menu__list menu hidden" id="hamburger-menu" role="menu" aria-describedby="hamburger" tabindex="0">
<li>
<a href="/courses/enrolled" target>
Kurslarım
</a>
</li>
<li>
<a href="/courses" target>
Tüm Kurslar
</a>
</li>
<li>
<a href="https://www.kodlama.io/p/kariyer?sa=off" target>
Kariyer
</a>
</li>
<li>
<a href="https://www.kodlama.io/p/sorular?sa=off" target>
Sık Sorulan Sorular
</a>
</li>


<li>
<button class="menu-trigger" onclick="toggleMenu('user-menu')">
<img class="gravatar" src="https://s.gravatar.com/avatar/c1b3496ea2f777fa15691534d920e593?d=mm" alt="UserMailAdress" />
<span class="navbar__current-user">UserFirstNameLastName<i class="caret"></i
  ></span>
</button>
<ul id="user-menu" class="inner-menu menu hidden" tabindex="0">
<li class="user-profile">
<a href="/current_user/profile">
Profili Düzenle
</a>
</li>
<li>
<a href="/current_user/subscriptions">
Üyelikleri Yönet
</a>
</li>
<li>
<a href="/current_user/purchase_history">
Purchase History
</a>
</li>
<li>
<a href="/current_user/credit_card">
Kart bilgisi ekle veya değiştir
</a>
</li>
<li>
<a href="/current_user/address">
Address
</a>
</li>
<li>
<a href="/current_user/contact">
İletişim
</a>
</li>
<li class="user-signout">
<a href="/sign_out">
Çıkış
</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
</header>
<main class="view-school page-layout-v2 main">
<div id="blocks" data-ss-school-id="499959" class="blocks-page blocks-page-privacy_policy_v2 ">

<style type="text/css">.b-46748380-top { padding-top: 33.6px; } .b-46748380-bottom { padding-bottom: 33.6px; } .b-46748380-text_color { color: #36414D; } .b-46748380-content_width { max-width: 590px; } .b-46748380-background_color { background-color: #FFFFFF; } .b-46748380-heading_text_color { color: #36414D; }</style>
<div class="course-block block text  " id="block-46748380">
<style>

  .block__text .b-46748380-text_color {
    color: #36414D
  }



  .block__text .b-46748380-content_width {
    width: 590px;
  }



  .block__text .b-46748380-heading_text_color h1,
  .block__text .b-46748380-heading_text_color h2,
  .block__text .b-46748380-heading_text_color h3,
  .block__text .b-46748380-heading_text_color h4,
  .block__text .b-46748380-heading_text_color h5,
  .block__text .b-46748380-heading_text_color h6 {
    color: #36414D
  }


  .block__text .block__text-wrapper h2{
    margin-bottom: 2px;
  }

  .block__text .block__text-wrapper h3{
    margin-bottom: 5px;
  }

  .block__text .block__text-wrapper h4{
    margin-bottom: 9px;
  }

  .block__text .block__text-wrapper h5{
    margin-bottom: 11px;
  }

  .block__text .block__text-wrapper h6{
    margin-bottom: 14px;
  }

media screen and (min-width: 768px) {
  .b-46748380-top {
    padding-top: 60px;
  }
  .b-46748380-bottom {
    padding-bottom: 60px;
  }
}
</style>
<section class="container bl block__text rich-text b-46748380-top b-46748380-bottom b-46748380-background_color">
<div class="block__text-wrapper b-46748380-content_width b-46748380-heading_text_color b-46748380-text_color" data-target="block.data.body">
<h2><strong>Gizlilik Politikası</strong></h2><p> </p><p>Bu Gizlilik Politikası, Okulun kullanıcılarından (her biri bir "Öğrenci") toplanan bilgileri toplama, kullanma, koruma şeklini yönetir. Bu Gizlilik Politikası, Okul ve Okul tarafından sunulan tüm Kurslar için geçerlidir.</p><p> </p><p><strong>Kişisel kimlik bilgileri</strong></p><p>Öğrencilerden kişisel kimlik bilgilerini, Öğrencilerin Okula veya Okul içindeki bir Kursa kaydolmaları, Okulumuzda sunduğumuz kaynaklara ,bir bültene abone olmaları ve diğer faaliyetler, hizmetler, özellikler dahil ,ancak bunlarla sınırlı olmamak üzere çeşitli şekillerde toplayabiliriz. Öğrenciler okulu isimsiz olarak ziyaret edebilirler. Öğrencilerden kişisel kimlik bilgilerini, yalnızca bu tür bilgileri gönüllü olarak bize göndermeleri durumunda toplayacağız. Öğrenciler kişisel kimlik bilgilerini vermeyi reddedebilirler ancak bunu yapmak onların Okulla ilgili belirli faaliyetlerde bulunmalarını engelleyebilir.</p><p> </p><p><strong>Toplanan bilgileri nasıl kullanıyoruz ?</strong></p><p>Okul, aşağıdaki amaçlarla Öğrencilerin kişisel kimlik bilgilerini toplayabilir ve kullanabilir:</p><p>·       Müşteri hizmetlerini iyileştirmek için ;</p><p>Sağladığınız bilgiler, müşteri hizmetleri taleplerinize yanıt vermemize ve ihtiyaçlarınızı daha verimli şekilde desteklememize yardımcı olur.</p><p> </p><p>·       Kullanıcı deneyimini kişiselleştirmek için ;</p><p>Öğrencilerimizin bir grup olarak Okulumuzda sağlanan hizmetleri ve kaynakları nasıl kullandığını anlamak için toplu olarak bilgileri kullanabiliriz.</p><p> </p><p>·       Periyodik e-postalar göndermek için ;</p><p>Student inquiries Student inquiries Öğrencilere siparişlerine ilişkin bilgileri ve güncellemeleri göndermek için Öğrenci e-posta adreslerini kullanabiliriz. Öğrenci e-posta adresleri, Öğrenci sorularına, sorularına veya diğer isteklerine yanıt vermek için de kullanılabilir.</p><p> </p><p><strong>Kişisel bilgilerinizi paylaşmak</strong></p><p>Öğrenci kişisel kimlik bilgilerini başkalarına satmayız, ticaretini yapmayız veya kiralamayız.</p><p> </p><p><strong>Üçüncü taraf web siteleri</strong></p><p>Öğrenci, Okulumuzda ortaklarımızın, tedarikçilerimizin, reklamcılarımızın, sponsorlarımızın, lisans verenlerin ve diğer üçüncü tarafların web sitelerine ve hizmetlerine bağlantı veren reklam veya başka içerik bulabilir. Bu web sitelerinde görünen içeriği veya bağlantıları kontrol etmiyoruz ve Okulumuzla bağlantılı veya Okulumuzdan bağlantılı web siteleri tarafından kullanılan uygulamalardan sorumlu değiliz. Ayrıca bu web siteleri veya hizmetler içerikleri ve bağlantıları dahil olmak üzere sürekli olarak değişebilir. Bu web siteleri ve hizmetlerin kendi gizlilik politikaları ve müşteri hizmetleri politikaları olabilir. Öğrencimize bağlantısı olan web siteleri de dahil olmak üzere başka herhangi bir web sitesinde gezinme ve etkileşim, o web sitesinin kendi şartlarına ve politikalarına tabidir.</p><p> </p><p><strong>Bu Gizlilik Politikasındaki Değişiklikler</strong></p><p>Okul, bu Gizlilik Politikasını herhangi bir zamanda güncelleme yetkisine sahiptir. Öğrencileri herhangi bir değişiklik için bu sayfayı sık sık kontrol etmeye teşvik ediyoruz. Bu Gizlilik Politikasını periyodik olarak gözden geçirmenin ve değişikliklerden haberdar olmanın sizin sorumluluğunuzda olduğunu kabul etmektesiniz.</p><p> </p><p><strong>Bu şartları kabul etmeniz</strong></p><p>Okula kaydolarak, bu Gizlilik Politikasını kabul ettiğinizi belirtmiş olursunuz. Bu Gizlilik Politikasını kabul etmiyorsanız, lütfen Okula kaydolmayın. Bu Gizlilik Politikasında yapılan değişikliklerin yayınlanmasının ardından Okula devam eden kaydınız, bu değişiklikleri kabul ettiğiniz anlamına gelecektir.</p>
</div>
</section>
</div>
</div>
</main>
<style id="footerStyles">
  :root {
    --footer_width: 960px;
  }
</style>
<footer class>
<div class="footer">
<div class="footer__wrapper">
<div class="footer__inner">
<ul class="footer__list">
<li class="footer__copyright">
&copy;
Kodlama.io
2024
</li>
</ul>
<ul class="footer__list legal-links">
<li>
<a href="/home/terms">
Kullanım Koşulları
</a>
</li>
<li>
<a href="/home/privacy">
Gizlilik Politikası
</a>
</li>
<li>
<a class="powered-by" href="https://teachable.com/teach-online/?src=school_footer">
<span class="powered-by-text">Teach Online with</span><img src="https://fedora.teachablecdn.com/assets/footer/teachable-logomark-white-31d2296978598bacace50e6d48a2e1223c20a9b074af424acdd465676f81560f.svg" class="powered-by-logo" target="_blank" rel="noopener" alt="Teachable">
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</footer>
<script type="text/javascript">
  if (window.heap && window.heapShouldTrackUser) {
    window.heap.clearEventProperties()
    window.heap.identify('12345678')
    window.heap.addUserProperties({ 'email': 'UserMailAdress', 'school_id': 'UserSchollId' })
    window.heap.addEventProperties({ 'template_name': 'privacy_policy_v2' })
  }
</script>
</div>
<script>
      if (!Element.prototype.closest) {
        Element.prototype.closest = function(s) {
          let el = this;
          do {
            if (el.matches(s))
              return el;


            el = el.parentElement || el.parentNode;
          } while (el !== null && el.nodeType === 1);
          return null;
        };
      }
      const offMenu = event => {
        if (event.target.closest('.navbar__menu'))
          return



        document.querySelectorAll('.menu').forEach(item => {
          item.classList.add('hidden')
          item.setAttribute('aria-hidden', 'true')
        })
      }
      const toggleMenu = id => {
  const el = document.getElementById(id)
  if (el.classList.contains('hidden')) {
    document
      .querySelectorAll('.inner-menu')
      .forEach(item => {
        item.classList.add('hidden')
        item.setAttribute('aria-hidden', 'true')
      })
    el.classList.remove('hidden')
    el.setAttribute('aria-hidden', 'false')
  } else {
    el.classList.add('hidden')
    el.setAttribute('aria-hidden', 'true')
  }
  !el.classList.contains('hidden') && el.focus()
}


// toggle open class for v2 preview bar dropdown menu
      const v2Dropdown = document.getElementsByClassName('v2-dropdown')[0]
      const v2DropdownTrigger = document.querySelector('.v2-dropdown .menu-trigger')

// if the preview bar dropdown exists, add event listener to toggle preview menu
      if (!! v2Dropdown) {
        v2DropdownTrigger.addEventListener('click', () => {
          v2Dropdown.classList.toggle('open')
        })
      }

      const domBody = document.body
      const usingMouse = 'using-mouse'
      domBody.addEventListener('mousedown', () => {
        domBody.classList.add(usingMouse)
      })
      domBody.addEventListener('keydown', () => {
        domBody.classList.remove(usingMouse)
      })

      const headerEl = document.querySelector('#navbar')
      const topHook = document.querySelector('#top')
      if ("IntersectionObserver" in window) {
        const observer = new IntersectionObserver(entries => {
          if (entries[0].boundingClientRect.y < 0) {
            headerEl.classList.remove('at-top')
          } else {
            headerEl.classList.add('at-top')
          }
        }, {threshold: 1});
        observer.observe(topHook)
      }
    </script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"8626cff0fb1a1e5e","b":1,"version":"2024.2.4","token":"2fe3cb09fc744bb9aa2f83b5c132124b"}' crossorigin="anonymous"></script>
</body>
</html>
