<!DOCTYPE html>
<html>
<head>
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:32,height:32/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:72,height:72/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:144,height:144/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:320,height:345/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:640,height:690/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="UTF-8">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="pTMMFBQxYt1Q/LTvAomR397MhjhhQoL0P+PYAYnBlQ/T2zSxJnu37id1ESoH9sHeWBk1wgQN/5R3Ks0BpcyfXw==" />
    <link rel="stylesheet" media="screen" href="https://fedora.teachablecdn.com/assets/bootstrap-a14e0219bff457941c01e229139fcb9f4709e289d96efa3a24bad96561d56e6c.css" data-turbolinks-track="true" />
    <link href="https://themes2.teachablecdn.com/themecss/production/base.css?_=77de2ae17b4d&amp;brand_course_heading=%23134361&amp;brand_heading=%23342E2E&amp;brand_homepage_heading=%23ff3f20&amp;brand_navbar_fixed_text=%23FFFFFF&amp;brand_navbar_text=%23FFFFFF&amp;brand_primary=%23134361&amp;brand_secondary=%23134361&amp;brand_text=%233F3A3A&amp;font=Raleway&amp;logged_out_homepage_background_image_overlay=0.0&amp;logged_out_homepage_background_image_url=https%3A%2F%2Fwww.filepicker.io%2Fapi%2Ffile%2FSwQnSI5NTX6BodRF3LDX&amp;show_login=true&amp;show_signup=true" rel="stylesheet" data-turbolinks-track="true"></link>
    <title>Kodlama.io</title>
    <meta name="description" content="Yazılım geliştirme için başlangıç noktası.">
    <link rel="canonical" href="https://www.kodlama.io/courses">
    <meta property="og:description" content="Yazılım geliştirme için başlangıç noktası.">
    <meta property="og:image" content="https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX">
    <meta property="og:title" content="Kodlama.io">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.kodlama.io/courses">
    <meta name="brand_video_player_color" content="#ff3f20">
    <meta name="site_title" content="Kodlama.io">
    <style></style>
    <script src="//fast.wistia.com/assets/external/E-v1.js"></script>
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <meta name="asset_host" content="https://fedora.teachablecdn.com">
    <script src="https://fedora.teachablecdn.com/packs/student-globals--1b9bb399c9fefbb1b77f.js"></script>
    <script src="https://fedora.teachablecdn.com/packs/student-legacy--5eb6bb554cf56da9e2ff.js"></script>
    <script src="https://fedora.teachablecdn.com/packs/student--f083e940437de9735e4a.js"></script>
    <meta id="iris-url" data-iris-url="https://eventable.internal.teachable.com" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = document.createElement("script"); r.type = "text/javascript", r.async = !0, r.src = "https://cdn.heapanalytics.com/js/heap-" + e + ".js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(r, a); for (var n = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], o = 0; o < p.length; o++)heap[p[o]] = n(p[o]) }, heap.load("318805607");
        window.heapShouldTrackUser = true;
    </script>
    <script type="text/javascript">
        var _user_id = '91464200'; // Set to the user's ID, username, or email address, or '' if not yet known.
        var _session_id = '4f2ee02a29da79666c550456c51bd73f'; // Set to a unique session ID for the visitor's current browsing session.

        var _sift = window._sift = window._sift || [];
        _sift.push(['_setAccount', '2e541754ec']);
        _sift.push(['_setUserId', _user_id]);
        _sift.push(['_setSessionId', _session_id]);
        _sift.push(['_trackPageview']);

        (function () {
            function ls() {
                var e = document.createElement('script');
                e.src = 'https://cdn.sift.com/s.js';
                document.body.appendChild(e);
            }
            if (window.attachEvent) {
                window.attachEvent('onload', ls);
            } else {
                window.addEventListener('load', ls, false);
            }
        })();
    </script>
    <script>
        if (typeof ga != 'function') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        }
        ga('create', 'UA-44397410-1', 'auto', { 'name': 'fedoraTracker', 'allowLinker': true });
        ga('fedoraTracker.set', 'anonymizeIp', false);
        ga('fedoraTracker.require', 'linker');
        ga('fedoraTracker.linker:autoLink', ['www.kodlama.io', 'sso.teachable.com'], false, true);
        ga('fedoraTracker.require', 'ecommerce');
        ga('fedoraTracker.require', 'ec');
        ga('fedoraTracker.send', 'pageview');
        ga('create', 'UA-44397410-4', 'auto', { 'name': 'teachableTracker', 'allowLinker': true });
        ga('teachableTracker.set', 'anonymizeIp', false);
        ga('teachableTracker.require', 'linker');
        ga('teachableTracker.linker:autoLink', ['www.kodlama.io', 'sso.teachable.com'], false, true);
        ga('teachableTracker.require', 'ecommerce');
        ga('teachableTracker.require', 'ec');
        ga('teachableTracker.send', 'pageview');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <meta http-content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta id="fedora-keys" data-commit-sha="77de2ae17b4dbab5156593f73e8bcd52e9953a03" data-env="production" data-sentry-public-dsn="https://8149a85a83fa4ec69640c43ddd69017d@sentry.io/120346" data-stripe="pk_live_hkgvgSBxG4TAl3zGlXiB1KUX" data-track-all-ahoy="false" data-track-changes-ahoy="false" data-track-clicks-ahoy="false" data-track-sumbits-ahoy="false" data-filepicker="ADNupMnWyR7kCWRvm76Laz" data-iris-url="https://eventable.internal.teachable.com" />
    <meta id="fedora-data" data-id="91464200" data-name="UserFirstNameLastName" data-email="UserMail" data-school-id="UserId" data-joined-at="&quot;2023-03-25T17:39:49Z&quot;" data-wistia-identifier="499959:student:91464200" data-gravatar-url="https://s.gravatar.com/avatar/c1b3496ea2f777fa15691534d920e593?d=mm" data-custom-role-course-permissions="false" data-report-card="{&quot;1862827&quot;:{&quot;id&quot;:875957548,&quot;course_id&quot;:1862827,&quot;is_active&quot;:true,&quot;has_full_access&quot;:false,&quot;percent_complete&quot;:0,&quot;enrolled_at&quot;:&quot;2024-02-10T23:20:14Z&quot;,&quot;updated_at&quot;:&quot;2024-02-10T23:20:14Z&quot;,&quot;completed_at&quot;:null,&quot;certificate_page_id&quot;:null,&quot;certificate_serial_number&quot;:null,&quot;certificate_issued_at&quot;:null,&quot;completed_lecture_count&quot;:0,&quot;completed_lecture_ids&quot;:[],&quot;access_limited_at&quot;:null,&quot;days_enrolled&quot;:29},&quot;1240541&quot;:{&quot;id&quot;:798161782,&quot;course_id&quot;:1240541,&quot;is_active&quot;:true,&quot;has_full_access&quot;:false,&quot;percent_complete&quot;:100,&quot;enrolled_at&quot;:&quot;2023-03-25T17:40:48Z&quot;,&quot;updated_at&quot;:&quot;2023-03-29T12:00:32Z&quot;,&quot;completed_at&quot;:&quot;2023-03-29T12:00:32Z&quot;,&quot;certificate_page_id&quot;:null,&quot;certificate_serial_number&quot;:null,&quot;certificate_issued_at&quot;:null,&quot;completed_lecture_count&quot;:15,&quot;completed_lecture_ids&quot;:[27647311,27651503,27651904,27651954,27651962,27651978,27651984,27652032,27652060,27652078,27652168,27655324,27655364,27655437,27655451],&quot;access_limited_at&quot;:null,&quot;days_enrolled&quot;:351},&quot;1235979&quot;:{&quot;id&quot;:798162155,&quot;course_id&quot;:1235979,&quot;is_active&quot;:true,&quot;has_full_access&quot;:false,&quot;percent_complete&quot;:1,&quot;enrolled_at&quot;:&quot;2023-03-25T17:42:06Z&quot;,&quot;updated_at&quot;:&quot;2023-03-29T12:03:47Z&quot;,&quot;completed_at&quot;:null,&quot;certificate_page_id&quot;:null,&quot;certificate_serial_number&quot;:null,&quot;certificate_issued_at&quot;:null,&quot;completed_lecture_count&quot;:1,&quot;completed_lecture_ids&quot;:[27554729],&quot;access_limited_at&quot;:null,&quot;days_enrolled&quot;:351},&quot;2440064&quot;:{&quot;id&quot;:872295594,&quot;course_id&quot;:2440064,&quot;is_active&quot;:true,&quot;has_full_access&quot;:false,&quot;percent_complete&quot;:100,&quot;enrolled_at&quot;:&quot;2024-01-27T14:38:40Z&quot;,&quot;updated_at&quot;:&quot;2024-03-09T22:41:13Z&quot;,&quot;completed_at&quot;:&quot;2024-03-09T22:41:13Z&quot;,&quot;certificate_page_id&quot;:null,&quot;certificate_serial_number&quot;:null,&quot;certificate_issued_at&quot;:null,&quot;completed_lecture_count&quot;:14,&quot;completed_lecture_ids&quot;:[51499408,51499411,51499412,51499413,51833263,51846446,51974511,52015232,52015234,52015235,52015236,52015238,52015386,52286647],&quot;access_limited_at&quot;:null,&quot;days_enrolled&quot;:43},&quot;meta&quot;:{&quot;cached_at&quot;:&quot;2024-03-09T22:41:13Z&quot;}}" data-course-ids="[1862827,1240541,1235979,2440064]" data-role="student" data-completed-lecture-ids="[27647311,27651503,27651904,27651954,27651962,27651978,27651984,27652032,27652060,27652078,27652168,27655324,27655364,27655437,27655451,27554729,51499408,51499411,51499412,51499413,51833263,51846446,51974511,52015232,52015234,52015235,52015236,52015238,52015386,52286647,null]" data-school-id="499959" data-school-launched="true" data-preview="logged_in" data-turn-off-fedora-branding="true" data-plan-supports-whitelabeling="false" data-powered-by-text="- tarafından desteklenmektedir" data-asset-path="//https://fedora.teachablecdn.com/assets/footer/teachable-logomark-white-31d2296978598bacace50e6d48a2e1223c20a9b074af424acdd465676f81560f.svg" data-school-preferences="{&quot;ssl_forced&quot;:&quot;true&quot;,&quot;anonymize_ips&quot;:&quot;false&quot;,&quot;bazaar_enabled&quot;:&quot;false&quot;,&quot;paypal_enabled&quot;:&quot;false&quot;,&quot;gifting_enabled&quot;:&quot;true&quot;,&quot;autoplay_lectures&quot;:&quot;true&quot;,&quot;comments_threaded&quot;:&quot;true&quot;,&quot;course_blocks_beta&quot;:&quot;true&quot;,&quot;eu_vat_tax_enabled&quot;:&quot;false&quot;,&quot;legacy_back_office&quot;:&quot;false&quot;,&quot;themeable_disabled&quot;:&quot;false&quot;,&quot;back_office_enabled&quot;:&quot;false&quot;,&quot;comments_moderation&quot;:&quot;false&quot;,&quot;eu_vat_tax_eligible&quot;:&quot;true&quot;,&quot;charge_exclusive_tax&quot;:&quot;true&quot;,&quot;send_receipts_emails&quot;:&quot;false&quot;,&quot;autocomplete_lectures&quot;:&quot;false&quot;,&quot;class_periods_enabled&quot;:&quot;false&quot;,&quot;tax_inclusive_pricing&quot;:&quot;false&quot;,&quot;authors_can_manage_pbc&quot;:&quot;true&quot;,&quot;css_properties_enabled&quot;:&quot;false&quot;,&quot;preenrollments_enabled&quot;:&quot;false&quot;,&quot;new_text_editor_enabled&quot;:&quot;true&quot;,&quot;require_terms_agreement&quot;:&quot;true&quot;,&quot;send_new_comment_emails&quot;:&quot;true&quot;,&quot;send_drip_content_emails&quot;:&quot;true&quot;,&quot;ssl_forced_from_creation&quot;:&quot;true&quot;,&quot;turn_off_fedora_branding&quot;:&quot;true&quot;,&quot;allow_comment_attachments&quot;:&quot;true&quot;,&quot;authors_can_email_students&quot;:&quot;false&quot;,&quot;authors_can_manage_coupons&quot;:&quot;false&quot;,&quot;custom_email_limit_applied&quot;:&quot;false&quot;,&quot;send_abandoned_cart_emails&quot;:&quot;true&quot;,&quot;teachable_accounts_enabled&quot;:&quot;true&quot;,&quot;teachable_payments_enabled&quot;:&quot;true&quot;,&quot;authors_can_import_students&quot;:&quot;false&quot;,&quot;authors_can_publish_courses&quot;:&quot;false&quot;,&quot;internal_subscriptions_beta&quot;:&quot;true&quot;,&quot;recaptcha_enabled_on_signup&quot;:&quot;true&quot;,&quot;display_vat_inclusive_prices&quot;:&quot;true&quot;,&quot;single_page_checkout_enabled&quot;:&quot;true&quot;,&quot;authors_can_set_course_prices&quot;:&quot;false&quot;,&quot;send_lead_confirmation_emails&quot;:&quot;true&quot;,&quot;affiliate_cookie_duration_days&quot;:&quot;365&quot;,&quot;authors_can_issue_certificates&quot;:&quot;false&quot;,&quot;store_student_cards_separately&quot;:&quot;true&quot;,&quot;authors_can_manage_certificates&quot;:&quot;false&quot;,&quot;authors_can_manage_course_pages&quot;:&quot;false&quot;,&quot;prevent_new_coupon_applications&quot;:&quot;true&quot;,&quot;disable_js_course_event_tracking&quot;:&quot;false&quot;,&quot;exclusive_vat_on_custom_gateways&quot;:&quot;false&quot;,&quot;is_edit_site_onboarding_complete&quot;:&quot;false&quot;,&quot;send_certificate_issuance_emails&quot;:&quot;true&quot;,&quot;owner_teachable_accounts_required&quot;:&quot;true&quot;,&quot;prevent_payment_plan_cancellation&quot;:&quot;true&quot;,&quot;send_subscription_reminder_emails&quot;:&quot;true&quot;,&quot;automatically_add_disqus_attachments&quot;:&quot;true&quot;,&quot;recalc_course_pct_on_lecture_publish&quot;:&quot;true&quot;,&quot;send_confirmation_instructions_emails&quot;:&quot;true&quot;,&quot;send_limited_time_unenrollment_emails&quot;:&quot;true&quot;,&quot;turn_off_myteachable_sign_up_branding&quot;:&quot;true&quot;}" data-accessible-features="[&quot;bulk_enroll_students&quot;,&quot;earnings_statements&quot;,&quot;teachable_payments&quot;,&quot;teachable_u&quot;,&quot;page_editor_v2&quot;,&quot;page_editor_v2_only&quot;,&quot;integrations&quot;,&quot;teachable_payments_payout_view&quot;,&quot;facebook_pixel&quot;,&quot;multiple_course_pages&quot;,&quot;proration_upgrade_flow&quot;,&quot;cross_border_payments&quot;,&quot;limited_time_enrollments&quot;,&quot;sales_tax_on_student_checkout&quot;,&quot;new_device_confirmation&quot;,&quot;elasticsearch_users&quot;,&quot;elasticsearch_transactions&quot;,&quot;reset_progress&quot;,&quot;fraud_warnings&quot;,&quot;paypal_through_tp&quot;,&quot;new_creator_checkout&quot;,&quot;circle_oauth&quot;]" data-course-data="{}" />
    <meta id="analytics-keys" name="analytics" data-analytics="{}" />


    <script>
        var TOAST_DELAY = 4000
        function displayToast(selector, toastMessage) {
            const toast = document.querySelector(selector)
            if (!toast) {
                return
            }
            toast.innerText = toastMessage
            toast.setAttribute('data-transition', 'entered')
            setTimeout(function () { toast.setAttribute('data-transition', 'exiting') }, TOAST_DELAY)
        }

        function resendConfirmationEmail() {
            const resendEmailButton = document.querySelector(
                '.resend-confirmation-email-button'
            )
            if (resendEmailButton) {
                fetch(`https://www.kodlama.io/current_user/email/resend_confirmation`)
                    .then(function (response) {
                        if (response.ok) {
                            displayToast('.toast.success', 'Confirmation email has been sent successfully')
                        } else if (response.status === 429) {
                            displayToast('.toast.error', 'You are doing this too fast. Please wait and try again in a few minutes')
                        } else {
                            displayToast('.toast.error', 'There was an error processing your request')
                        }
                    })
                    .catch(function () { displayToast('.toast.error', 'There was an error processing your request') })
            }
        }

    </script>
    <partial name="Partial/_Header" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="Partial/_Footer" />
    <script type="text/javascript">
        if (window.heap && window.heapShouldTrackUser) {
            window.heap.clearEventProperties()
            window.heap.identify('12345678')
            window.heap.addUserProperties({ 'email': 'UserMailAdress', 'school_id': 'UserSchollId' })
            window.heap.addEventProperties({ 'template_name': '' })
        }
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"8626f0bbee061e5e","b":1,"version":"2024.2.4","token":"2fe3cb09fc744bb9aa2f83b5c132124b"}' crossorigin="anonymous"></script>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>