@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:32,height:32/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:72,height:72/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:144,height:144/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:320,height:345/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:640,height:690/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="UTF-8">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="TRPjZAbron+E9jGc7SOyclcIPGMOj/L6LnYhp5mthyo7+9vBNKF3TPN/lFnoXOJz0d2PmWvAj5pmvzSntaCNeg==" />
    <link rel="stylesheet" media="screen" href="https://fedora.teachablecdn.com/assets/bootstrap-a14e0219bff457941c01e229139fcb9f4709e289d96efa3a24bad96561d56e6c.css" data-turbolinks-track="true" />
    <link href="https://themes2.teachablecdn.com/themecss/production/base.css?_=77de2ae17b4d&amp;brand_course_heading=%23134361&amp;brand_heading=%23342E2E&amp;brand_homepage_heading=%23ff3f20&amp;brand_navbar_fixed_text=%23FFFFFF&amp;brand_navbar_text=%23FFFFFF&amp;brand_primary=%23134361&amp;brand_secondary=%23134361&amp;brand_text=%233F3A3A&amp;font=Raleway&amp;logged_out_homepage_background_image_overlay=0.0&amp;logged_out_homepage_background_image_url=https%3A%2F%2Fwww.filepicker.io%2Fapi%2Ffile%2FSwQnSI5NTX6BodRF3LDX&amp;show_login=true&amp;show_signup=true" rel="stylesheet" data-turbolinks-track="true"></link>
    <title>Kodlama.io</title>
    <meta name="brand_video_player_color" content="#ff3f20">
    <style></style>
    <script src="//fast.wistia.com/assets/external/E-v1.js"></script>
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <meta name="asset_host" content="https://fedora.teachablecdn.com">
    <script src="https://fedora.teachablecdn.com/packs/student-globals--1b9bb399c9fefbb1b77f.js"></script>
    <script src="https://fedora.teachablecdn.com/packs/student-legacy--5eb6bb554cf56da9e2ff.js"></script>
    <script src="https://fedora.teachablecdn.com/packs/student--f083e940437de9735e4a.js"></script>
    <meta id="iris-url" data-iris-url="https://eventable.internal.teachable.com" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = document.createElement("script"); r.type = "text/javascript", r.async = !0, r.src = "https://cdn.heapanalytics.com/js/heap-" + e + ".js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(r, a); for (var n = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], o = 0; o < p.length; o++)heap[p[o]] = n(p[o]) }, heap.load("318805607");
        window.heapShouldTrackUser = true;
    </script>
    <script type="text/javascript">
        var _user_id = '91464200'; // Set to the user's ID, username, or email address, or '' if not yet known.
        var _session_id = '4f2ee02a29da79666c550456c51bd73f'; // Set to a unique session ID for the visitor's current browsing session.

        var _sift = window._sift = window._sift || [];
        _sift.push(['_setAccount', '2e541754ec']);
        _sift.push(['_setUserId', _user_id]);
        _sift.push(['_setSessionId', _session_id]);
        _sift.push(['_trackPageview']);

        (function () {
            function ls() {
                var e = document.createElement('script');
                e.src = 'https://cdn.sift.com/s.js';
                document.body.appendChild(e);
            }
            if (window.attachEvent) {
                window.attachEvent('onload', ls);
            } else {
                window.addEventListener('load', ls, false);
            }
        })();
    </script>
    <script>
        if (typeof ga != 'function') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        }
        ga('create', 'UA-44397410-1', 'auto', { 'name': 'fedoraTracker', 'allowLinker': true });
        ga('fedoraTracker.set', 'anonymizeIp', false);
        ga('fedoraTracker.require', 'linker');
        ga('fedoraTracker.linker:autoLink', ['www.kodlama.io', 'sso.teachable.com'], false, true);
        ga('fedoraTracker.require', 'ecommerce');
        ga('fedoraTracker.require', 'ec');
        ga('fedoraTracker.send', 'pageview');
        ga('create', 'UA-44397410-4', 'auto', { 'name': 'teachableTracker', 'allowLinker': true });
        ga('teachableTracker.set', 'anonymizeIp', false);
        ga('teachableTracker.require', 'linker');
        ga('teachableTracker.linker:autoLink', ['www.kodlama.io', 'sso.teachable.com'], false, true);
        ga('teachableTracker.require', 'ecommerce');
        ga('teachableTracker.require', 'ec');
        ga('teachableTracker.send', 'pageview');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <header class="v1-header">

        <div class="navbar-fedora is-at-top is-signed-in" id="navbar" role="navigation">
            <div class="btstrp-container">
                <div class="btstrp-navbar-header navbar-header-courses">
                    <button class="btstrp-navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                        <span class="btstrp-sr-only">
                            Toggle navigation
                        </span>
                        <span class="btstrp-icon-bar"></span>
                        <span class="btstrp-icon-bar"></span>
                        <span class="btstrp-icon-bar"></span>
                    </button>

                    <a class="btstrp-navbar-brand header-logo" href="https://www.kodlama.io?sa=off">
                        <img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://www.filepicker.io/api/file/4mZobU9NSRKr8UJADi4M" alt="Kodlama.io" srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://www.filepicker.io/api/file/4mZobU9NSRKr8UJADi4M 2x" />
                    </a>

                    <div class="collapse btstrp-navbar-collapse navbar-header-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a class="fedora-navbar-link navbar-link current-page" href="/courses/enrolled" target>
                                    Kurslarım
                                </a>
                            </li>
                            <li>
                                <a class="fedora-navbar-link navbar-link" href="/courses" target>
                                    Tüm Kurslar
                                </a>
                            </li>
                            <li>
                                <a class="fedora-navbar-link navbar-link" href="https://www.kodlama.io/p/kariyer?sa=off" target>
                                    Kariyer
                                </a>
                            </li>
                            <li>
                                <a class="fedora-navbar-link navbar-link" href="https://www.kodlama.io/p/sorular?sa=off" target>
                                    Sık Sorulan Sorular
                                </a>
                            </li>


                            <li class="dropdown">
                                <a aria-expanded="false" aria-controls="user-dropdown" aria-haspopup="true" href="#" class="fedora-navbar-link navbar-link dropdown-toggle open-my-profile-dropdown" data-toggle="dropdown">
                                    <img class="gravatar" src="https://s.gravatar.com/avatar/c1b3496ea2f777fa15691534d920e593?d=mm" alt="UserMailAdress" />
                                    <span class="navbar-current-user">UserFirstNameLastName</span>
                                </a>
                                <ul class="dropdown-menu" id="user-dropdown">
                                    <li class="user-profile">
                                        <a href="/current_user/profile">
                                            Profili Düzenle
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/current_user/subscriptions">
                                            Üyelikleri Yönet
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/current_user/purchase_history">
                                            Purchase History
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/current_user/credit_card">
                                            Kart bilgisi ekle veya değiştir
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/current_user/address">
                                            Address
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/current_user/contact">
                                            İletişim
                                        </a>
                                    </li>
                                    <li class="user-signout">
                                        <a href="/sign_out">
                                            Çıkış
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script>
        var TOAST_DELAY = 4000
        function displayToast(selector, toastMessage) {
            const toast = document.querySelector(selector)
            if (!toast) {
                return
            }
            toast.innerText = toastMessage
            toast.setAttribute('data-transition', 'entered')
            setTimeout(function () { toast.setAttribute('data-transition', 'exiting') }, TOAST_DELAY)
        }

        function resendConfirmationEmail() {
            const resendEmailButton = document.querySelector(
                '.resend-confirmation-email-button'
            )
            if (resendEmailButton) {
                fetch(`https://www.kodlama.io/current_user/email/resend_confirmation`)
                    .then(function (response) {
                        if (response.ok) {
                            displayToast('.toast.success', 'Confirmation email has been sent successfully')
                        } else if (response.status === 429) {
                            displayToast('.toast.error', 'You are doing this too fast. Please wait and try again in a few minutes')
                        } else {
                            displayToast('.toast.error', 'There was an error processing your request')
                        }
                    })
                    .catch(function () { displayToast('.toast.error', 'There was an error processing your request') })
            }
        }

    </script>
    <div role="main" class="view-school">
        <div class="view-directory course-directory signed-in-directory">
            <div class="container">
                <div class="row search">

                    <div class="col-lg-12 col-md-12 col-xs-12 pull-right">
                        <form role="search" method="get" action="/courses">
                            <div class="input-group">
                                <label for="search-courses" class="sr-only">Kurs bul</label>
                                <input class="form-control search input-lg" data-list=".list" id="search-courses" name="query" placeholder="Kurs bul" type="text">
                                <span class="input-group-btn">
                                    <button aria-label="Search Courses" id="search-course-button" class="btn search btn-default btn-lg" type="submit"><i class="fa fa-search" title="Search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row course-list list">

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div data-course-id="1235979" data-course-url="/courses/enrolled/1235979" , class="course-listing">
                            <div class="row">
                                <a href="/courses/enrolled/1235979" data-role="course-box-link">
                                    <div class="col-lg-12">

                                        <div class="course-box-image-container">
                                            <img class="course-box-image" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/Zk7d1MdoSJ6cEShVbfd0" role="presentation" alt>
                                        </div>
                                        <div class="course-listing-title" role="heading" aria-level="2" title="Yazılım Geliştirici Yetiştirme Kampı (C# + ANGULAR)">
                                            Yazılım Geliştirici Yetiştirme Kampı (C# + ANGULAR)
                                        </div>

                                        <div class="col-xs-12 hidden course-listing-enrolled" aria-hidden="true">
                                            <div class="progressbar ">
                                                <div class="progressbar-fill" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-labelledby="percent-complete-1235979"></div>
                                            </div>
                                            <p class="course-access-limit hidden">Şu tarihe kadar geçerli : <span></span></p>
                                        </div>

                                        <div class="course-listing-subtitle" title="2 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız." role="heading" aria-level="3">
                                            2 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="course-listing-extra-info">
                                <div>


                                    <img class="img-circle" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3" alt="Engin Demirog">
                                    <span class="small course-author-name">
                                        Engin Demirog
                                    </span>
                                </div>

                                <div class="hidden" aria-hidden="true">
                                    <div class="small course-progress ">
                                        <span class="percentage" id="percent-complete-1235979" data-course-id="1235979">
                                            %
                                        </span>
                                        <br>
                                        TAMAMLANDI
                                    </div>
                                </div>

                                <div>
                                    <div class="small course-price" data-include-vat-price="2675534">
                                        ÜCRETSİZ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div data-course-id="1862827" data-course-url="/courses/enrolled/1862827" , class="course-listing">
                            <div class="row">
                                <a href="/courses/enrolled/1862827" data-role="course-box-link">
                                    <div class="col-lg-12">

                                        <div class="course-box-image-container">
                                            <img class="course-box-image" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://cdn.filestackcontent.com/ujZYJ3lwSOihtnbP9LsG" role="presentation" alt>
                                        </div>
                                        <div class="course-listing-title" role="heading" aria-level="2" title="Senior Yazılım Geliştirici Yetiştirme Kampı (.NET)">
                                            Senior Yazılım Geliştirici Yetiştirme Kampı (.NET)
                                        </div>

                                        <div class="col-xs-12 hidden course-listing-enrolled" aria-hidden="true">
                                            <div class="progressbar ">
                                                <div class="progressbar-fill" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-labelledby="percent-complete-1862827"></div>
                                            </div>
                                            <p class="course-access-limit hidden">Şu tarihe kadar geçerli : <span></span></p>
                                        </div>

                                        <div class="course-listing-subtitle" title="Senior Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız." role="heading" aria-level="3">
                                            Senior Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="course-listing-extra-info">
                                <div>


                                    <img class="img-circle" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3" alt="Engin Demirog">
                                    <span class="small course-author-name">
                                        Engin Demirog
                                    </span>
                                </div>

                                <div class="hidden" aria-hidden="true">
                                    <div class="small course-progress ">
                                        <span class="percentage" id="percent-complete-1862827" data-course-id="1862827">
                                            %
                                        </span>
                                        <br>
                                        TAMAMLANDI
                                    </div>
                                </div>

                                <div>
                                    <div class="small course-price" data-include-vat-price="4202878">
                                        ÜCRETSİZ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div data-course-id="2440064" data-course-url="/courses/enrolled/2440064" , class="course-listing">
                            <div class="row">
                                <a href="/courses/enrolled/2440064" data-role="course-box-link">
                                    <div class="col-lg-12">

                                        <div class="course-box-image-container">
                                            <img class="course-box-image" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://cdn.filestackcontent.com/We86Zc3xQy6FUqhyBJJc" role="presentation" alt>
                                        </div>
                                        <div class="course-listing-title" role="heading" aria-level="2" title="2024 Yazılım Geliştirici Yetiştirme Kampı (C#)">
                                            2024 Yazılım Geliştirici Yetiştirme Kampı (C#)
                                        </div>

                                        <div class="col-xs-12 hidden course-listing-enrolled" aria-hidden="true">
                                            <div class="progressbar ">
                                                <div class="progressbar-fill" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-labelledby="percent-complete-2440064"></div>
                                            </div>
                                            <p class="course-access-limit hidden">Şu tarihe kadar geçerli : <span></span></p>
                                        </div>

                                        <div class="course-listing-subtitle" title="2 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız." role="heading" aria-level="3">
                                            2 ay sürecek Yazılım Geliştirici Yetiştirme Kampımızın takip, döküman ve duyurularını buradan yapacağız.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="course-listing-extra-info">
                                <div>


                                    <img class="img-circle" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3" alt="Engin Demirog">
                                    <span class="small course-author-name">
                                        Engin Demirog
                                    </span>
                                </div>

                                <div class="hidden" aria-hidden="true">
                                    <div class="small course-progress ">
                                        <span class="percentage" id="percent-complete-2440064" data-course-id="2440064">
                                            %
                                        </span>
                                        <br>
                                        TAMAMLANDI
                                    </div>
                                </div>

                                <div>
                                    <div class="small course-price" data-include-vat-price="5291639">
                                        ÜCRETSİZ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div data-course-id="1240541" data-course-url="/courses/enrolled/1240541" , class="course-listing">
                            <div class="row">
                                <a href="/courses/enrolled/1240541" data-role="course-box-link">
                                    <div class="col-lg-12">

                                        <div class="course-box-image-container">
                                            <img class="course-box-image" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/BBLmG3XFTtm8XBTrzg4v" role="presentation" alt>
                                        </div>
                                        <div class="course-listing-title" role="heading" aria-level="2" title="Programlamaya Giriş için Temel Kurs">
                                            Programlamaya Giriş için Temel Kurs
                                        </div>

                                        <div class="col-xs-12 hidden course-listing-enrolled" aria-hidden="true">
                                            <div class="progressbar ">
                                                <div class="progressbar-fill" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-labelledby="percent-complete-1240541"></div>
                                            </div>
                                            <p class="course-access-limit hidden">Şu tarihe kadar geçerli : <span></span></p>
                                        </div>

                                        <div class="course-listing-subtitle" title="PYTHON, JAVA, C# gibi tüm programlama dilleri için temel programlama mantığını anlaşılır örneklerle öğrenin." role="heading" aria-level="3">
                                            PYTHON, JAVA, C# gibi tüm programlama dilleri için temel programlama mantığını anlaşılır örneklerle öğrenin.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="course-listing-extra-info">
                                <div>


                                    <img class="img-circle" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3" alt="Engin Demirog">
                                    <span class="small course-author-name">
                                        Engin Demirog
                                    </span>
                                </div>

                                <div class="hidden" aria-hidden="true">
                                    <div class="small course-progress ">
                                        <span class="percentage" id="percent-complete-1240541" data-course-id="1240541">
                                            %
                                        </span>
                                        <br>
                                        TAMAMLANDI
                                    </div>
                                </div>

                                <div>
                                    <div class="small course-price" data-include-vat-price="2687976">
                                        ÜCRETSİZ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <center>
                        </center>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <footer class="bottom-menu bottom-menu-inverse">
            <div class="footerContent">
                <div class="flex-grid">
                    <div class="col-12-xs col-4-s col-4-m footer-column">
                        <p>
                            &copy;
                            Kodlama.io
                            2024
                        </p>
                    </div>
                    <div class="col-12-xs col-4-s col-4-m footer-column">
                        <ul class="list-unstyled">
                            <li>
                                <a href="/p/terms">
                                    Kullanım Koşulları
                                </a>
                            </li>
                            <li>
                                <a href="/p/privacy">
                                    Gizlilik Politikası
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12-xs col-4-s col-4-m footer-column">
                        <ul class="list-unstyled">
                            <li>
                                <a class="powered-by" href="https://teachable.com/teach-online/?src=school_footer">
                                    Teach Online with <img src="https://fedora.teachablecdn.com/assets/footer/teachable-logomark-white-31d2296978598bacace50e6d48a2e1223c20a9b074af424acdd465676f81560f.svg" class="powered-by-logo" target="_blank" rel="noopener" alt="Teachable">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </footer>
    <script type="text/javascript">
        if (window.heap && window.heapShouldTrackUser) {
            window.heap.clearEventProperties()
            window.heap.identify('12345678')
            window.heap.addUserProperties({ 'email': 'UserMailAdress', 'school_id': 'UserSchoollId' })
            window.heap.addEventProperties({ 'template_name': '' })
        }
    </script>
    </div>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"862707d25d508f3c","b":1,"version":"2024.2.4","token":"2fe3cb09fc744bb9aa2f83b5c132124b"}' crossorigin="anonymous"></script>
</body>
</html>
