<h1>Admin Yönetim Paneli</h1>

<a asp-controller="Category" asp-action="List" class="btn btn-warning fw-bold">Kategoriler</a>

<a asp-controller="Course" asp-action="List" class="btn btn-warning fw-bold">Kurslar</a>