<!DOCTYPE html>
<html lang="tr">
<head>
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:32,height:32/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:72,height:72/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:144,height:144/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:320,height:345/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:640,height:690/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="1bVfHVvk8cyB+7tz7HqhHQbhaY/076k1n4zFV8aYZfGjXWe4aa4k//ZyHrbpBfEcgDTadZGg1FXXRdBX6pVvoQ==" />
    <link rel="stylesheet" media="screen" href="https://fedora.teachablecdn.com/assets/bootstrap-a14e0219bff457941c01e229139fcb9f4709e289d96efa3a24bad96561d56e6c.css" data-turbolinks-track="true" />
    <link href="https://themes2.teachablecdn.com/themecss/production/base.css?_=77de2ae17b4d&amp;brand_course_heading=%23134361&amp;brand_heading=%23342E2E&amp;brand_homepage_heading=%23ff3f20&amp;brand_navbar_fixed_text=%23FFFFFF&amp;brand_navbar_text=%23FFFFFF&amp;brand_primary=%23134361&amp;brand_secondary=%23134361&amp;brand_text=%233F3A3A&amp;font=Raleway&amp;logged_out_homepage_background_image_overlay=0.0&amp;logged_out_homepage_background_image_url=https%3A%2F%2Fwww.filepicker.io%2Fapi%2Ffile%2FSwQnSI5NTX6BodRF3LDX&amp;show_login=true&amp;show_signup=true" rel="stylesheet" data-turbolinks-track="true">
    <title>Kodlama.io</title>
    <meta name="brand_video_player_color" content="#ff3f20">
    <style></style>
    <script src="../assets/E-v1.js"></script>
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <meta name="asset_host" content="https://fedora.teachablecdn.com">
    <script src="https://fedora.teachablecdn.com/packs/student-globals--1b9bb399c9fefbb1b77f.js"></script>
    <script src="https://fedora.teachablecdn.com/packs/student-legacy--5eb6bb554cf56da9e2ff.js"></script>
    <script src="https://fedora.teachablecdn.com/packs/student--f083e940437de9735e4a.js"></script>
    <meta id="iris-url" data-iris-url="https://eventable.internal.teachable.com" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="fedora-data" data-gravatar-url="https://s.gravatar.com/avatar/c1b3496ea2f777fa15691534d920e593?d=mm" data-custom-role-course-permissions="false" data-asset-path="//https://fedora.teachablecdn.com/assets/footer/teachable-logomark-white-31d2296978598bacace50e6d48a2e1223c20a9b074af424acdd465676f81560f.svg" data-accessible-features />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.5/sweetalert2.min.css" integrity="sha512-OWGg8FcHstyYFwtjfkiCoYHW2hG3PDWwdtczPAPUcETobBJOVCouKig8rqED0NMLcT9GtE4jw6IT1CSrwY87uw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"8626f0bbee061e5e","b":1,"version":"2024.2.4","token":"2fe3cb09fc744bb9aa2f83b5c132124b"}' crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js" integrity="sha512-Ixzuzfxv1EqafeQlTCufWfaC6ful6WFqIz4G+dWvK0beHw0NVJwvCKSgafpy5gwNqKmgUfIBraVwkKI+Cz0SEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.5/sweetalert2.min.js" integrity="sha512-WHVh4oxWZQOEVkGECWGFO41WavMMW5vNCi55lyuzDBID+dHg2PIxVufsguM7nfTYN3CEeQ/6NB46FWemzpoI6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

    <partial name="Partial/_Header" />

    <div class="container">
        <div role="main" class="view-school">
            <div class="view-directory course-directory signed-in-directory">

                    @RenderBody()

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <center>
                </center>
            </div>
        </div>
    </div>
    <br>

    <partial name="Partial/_Footer" />

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>