@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<main class="p-v-5-l">
    <div class="container m-auto-xs col-4-l col-5-m col-10-xs p-h-6-l">
        <h3 class="heading3 text-center-xs m-b-0-xs m-b-4-m m-t-5-m">Sign Up</h3>
        <form method="post" asp-controller="Auth" asp-action="Register">
            <div class="m-b-4-xs">
                <label asp-for="FirstName" class="form-label bodyMain p-b-0-xs m-b-2-xs">FirstName</label>
                <input asp-for=FirstName type="text" class="form-input p-v-1-xs p-l-2-xs p-r-4-xs col-12-xs bodyMain" required />
            </div>

            <div class="m-b-4-xs">
                <label asp-for="LastName" class="form-label bodyMain p-b-0-xs m-b-2-xs">LastName</label>
                <input asp-for=LastName type="text" class="form-input p-v-1-xs p-l-2-xs p-r-4-xs col-12-xs bodyMain" required />
            </div>

            <div class="m-b-4-xs">
                <label asp-for="Email" class="form-label bodyMain p-b-0-xs m-b-2-xs">Email</label>
                <input asp-for="Email" type="email" class="form-input p-v-1-xs p-l-2-xs p-r-4-xs col-12-xs bodyMain" required />
            </div>

            <div class="m-b-4-xs">
                <div class="password-label">
                    <label class="form-label bodyMain p-b-0-xs m-b-2-xs" asp-for="Password">Password</label>
                </div>
                <div class="password-container">
                    <input asp-for="Password" type="password" class="password new-password form-input p-v-1-xs p-l-2-xs p-r-6-xs col-12-xs bodyMain" required />
                </div>
            </div>

            <div class="m-b-4-xs">
                <div class="password-label">
                    <label class="form-label bodyMain p-b-0-xs m-b-2-xs" asp-for="PasswordConfirm">Password</label>
                </div>
                <div class="password-container">
                    <input asp-for="PasswordConfirm" type="password" class="password new-password form-input p-v-1-xs p-l-2-xs p-r-6-xs col-12-xs bodyMain" required />
                </div>
            </div>

            <div class="dsp-flex-xs flex-justify-content-center-xs m-b-3-xs">
                <button type="submit" class="button btn-primary col-10-xs p-v-2-xs p-h-5-xs m-v-3-xs">Sign up</button>
            </div>
            <div class="bodyMain text-center-xs m-b-5-xs">
                Zaten bir hesabınız mı var? <a data-test-id="login-button" href="/girisyap">Log in</a>
            </div>
        </form>
    </div>
</main>