<footer class="bottom-menu bottom-menu-inverse">
    <div class="footerContent">
        <div class="flex-grid">
            <div class="col-12-xs col-4-s col-4-m footer-column">
                <p>
                    &copy;
                    Kodlama.io
                    2024
                </p>
            </div>
            <div class="col-12-xs col-4-s col-4-m footer-column">
                <ul class="list-unstyled">
                    <li>
                        <a href="/home/terms">
                            Kullanım Koşulları
                        </a>
                    </li>
                    <li>
                        <a href="/home/privacy">
                            Gizlilik Politikası
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12-xs col-4-s col-4-m footer-column">
                <ul class="list-unstyled">
                    <li>
                        <a class="powered-by" href="https://teachable.com/teach-online/?src=school_footer">
                            Teach Online with <img src="https://fedora.teachablecdn.com/assets/footer/teachable-logomark-white-31d2296978598bacace50e6d48a2e1223c20a9b074af424acdd465676f81560f.svg" class="powered-by-logo" target="_blank" rel="noopener" alt="Teachable">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>