<header class="v1-header">

    <div class="navbar-fedora is-at-top is-signed-in" id="navbar" role="navigation">
        <div class="btstrp-container">
            <div class="btstrp-navbar-header navbar-header-courses">
                <button class="btstrp-navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                    <span class="btstrp-sr-only">
                        Toggle navigation
                    </span>
                    <span class="btstrp-icon-bar"></span>
                    <span class="btstrp-icon-bar"></span>
                    <span class="btstrp-icon-bar"></span>
                </button>

                <a class="btstrp-navbar-brand header-logo" href="/courses">
                    <img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:60/https://www.filepicker.io/api/file/4mZobU9NSRKr8UJADi4M" alt="Kodlama.io" srcset="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=height:120/https://www.filepicker.io/api/file/4mZobU9NSRKr8UJADi4M 2x" />
                </a>

                <div class="collapse btstrp-navbar-collapse navbar-header-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="fedora-navbar-link navbar-link current-page" href="/courses/enrolled">
                                Kurslarım
                            </a>
                        </li>
                        <li>
                            <a class="fedora-navbar-link navbar-link" href="/courses">
                                Tüm Kurslar
                            </a>
                        </li>
                        <li>
                            <a class="fedora-navbar-link navbar-link" href="/home/career">
                                Kariyer
                            </a>
                        </li>
                        <li>
                            <a class="fedora-navbar-link navbar-link" href="/home/Questions">
                                Sık Sorulan Sorular
                            </a>
                        </li>


                        <li class="dropdown">
                            <a aria-expanded="false" aria-controls="user-dropdown" aria-haspopup="true" href="#" class="fedora-navbar-link navbar-link dropdown-toggle open-my-profile-dropdown" data-toggle="dropdown">
                                <img class="gravatar" src="https://s.gravatar.com/avatar/c1b3496ea2f777fa15691534d920e593?d=mm" alt="UserMailAdress" />
                                <span class="navbar-current-user">UserFirstName UserLastName</span>
                            </a>
                            <ul class="dropdown-menu" id="user-dropdown">
                                <li class="user-profile">
                                    <a href="/current_user/profile">
                                        Profili Düzenle
                                    </a>
                                </li>
                                <li>
                                    <a href="/current_user/subscriptions">
                                        Üyelikleri Yönet
                                    </a>
                                </li>
                                <li>
                                    <a href="/current_user/purchase_history">
                                        Purchase History
                                    </a>
                                </li>
                                <li>
                                    <a href="/current_user/credit_card">
                                        Kart bilgisi ekle veya değiştir
                                    </a>
                                </li>
                                <li>
                                    <a href="/current_user/address">
                                        Address
                                    </a>
                                </li>
                                <li>
                                    <a href="/current_user/contact">
                                        İletişim
                                    </a>
                                </li>
                                <li class="user-signout">
                                    <a href="/sign_out">
                                        Çıkış
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>